.App {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.export-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.rdl-control-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px;
}

.rdl-control {
  margin: 5px 0;
  padding: 5px;
  cursor: pointer;
}
