.App {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.export-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.rdl-control-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px;
}

.rdl-control {
  margin: 5px 0;
  padding: 5px;
  cursor: pointer;
}

.unit-picker {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  max-width: 1000px;
}

.unit-tree {
  width: 60%;
  padding: 0 20px;
  border-right: 1px solid #eee;
  text-align: left;
}

.dual-list {
  width: 40%;
  padding: 0 20px;
}

.category-picker {
  margin-top: 20px;
}
